@charset "UTF-8";
html, body {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

body {
  margin: 0; }

header {
  background-color: #fff;
  height: 65px; }

nav {
  height: 42px;
  background-color: #222; }

main {
  background-image: url(/assets/bg.jpg);
  background-repeat: repeat;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

footer {
  height: 52px;
  background-color: #222; }

#feed {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 696px;
  margin: 0;
  padding: 0; }
  #feed li {
    background-color: #fff;
    height: 400px;
    width: 324px;
    padding: 24px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 12px 12px 12px 12px; }
    #feed li .img-container {
      height: 168px; }
      #feed li .img-container img {
        max-width: 100%;
        max-height: 168px;
        object-fit: cover; }
    #feed li a {
      margin: 20px 0 10px;
      display: inline-block;
      overflow: hidden;
      line-height: 20px;
      max-height: 40px; }
    #feed li p {
      margin: 0 0 10px; }
      #feed li p .author::after {
        content: '•';
        padding: 0 5px; }
      #feed li p .timestamp::after {
        content: '•';
        padding: 0 5px; }
    #feed li .description {
      overflow: hidden;
      line-height: 20px;
      max-height: 60px; }
